.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-key {
  font-size:(398.61/10)*1rem;
  width:(398.61/398.61)*1em;
}
.icon-mobile-phone {
  font-size:(423.12/10)*1rem;
  width:(423.12/423.12)*1em;
}
.icon-scooter {
  font-size:(458.75/10)*1rem;
  width:(458.75/458.75)*1em;
}
