/*FONTS*/

$ff-main: "GothamPro";
$ff-main-Bold: "GothamPro-Bold";
$ff-main-Black: "GothamPro-Black";
$ff-main-light: "GothamPro-Light";

/*FONTS-COLOR*/
$c-main: #1d2029;
$c-description: #7a7a7a;
$c-additional: #c4acc5;
$c-secondary: #7fa6c0;

/*BACKGROUND-COLOR*/

$bg-main: #625999;